<div class="main-content">
    <div class="container-fluid" style="padding-left: 20%;padding-right: 20%;">
        
        <!-- container-left -->
        <div class="div-left" style="float: left;width: 30%;height: 100%;background-color: #3db9ec">
            <div class="text">
                <h3 style="color: ghostwhite;padding-top: 20px;padding-left: 25px;">Look's like you're new here!</h3>
                <p style="color: ghostwhite;padding-left: 25px;padding-right:25px;font-size: 18px;">Sign up with your mobile or email to get started</p>
            </div>
            <div class="img-responsive" style="padding-top: 186px;">
                <img src="assets\images\applicationimage.jpg" alt="ecommerce-image">
            </div>
        </div>

        <!-- container-right -->
        <div align="center">
                <div class="div-right" style="float: right;width: 70%;height: 100%;background-color: ghostwhite;">
                    <label style="padding-top: 15px;">Enter your name</label><br>
                    <input type="text" name="customerName" required minlength="6" maxlength="35" style="width: 350px;"/><br>
                    <label>Enter Email/ Mobile number</label><br>
                    <input type="text" name="uname" required minlength="6" maxlength="20" style="width: 350px;"><br>
                    <label>Enter Password</label><br>
                    <input type="password" name="pwd" required minlength="6" maxlength="20" style="width: 350px;"><br>
                    <label>Re-enter Password</label><br>
                    <input type="password" name="pwd" required minlength="6" maxlength="20" style="width: 350px;"><br><br>

                    <button class="btn btn-info btn-sm">Create your account</button><br><br>
                    <label>
                        <p>By continuing, you agree to Shopme's Terms of Use and Privacy Policy.</p>
                    </label>
                    
                    <a routerLink="/login" style="padding-top: 120px;">Existing User? Login to your account</a>
                    
                </div>
        </div>
    </div>
</div>
