<div clas="login area.d-n">
    <div class="main-content">
        <div class="container-fluid" style="padding-left: 20%;padding-right: 20%;">
            
            <!-- container-left -->
            <div class="div-left" style="float: left;width: 30%;height: 100%;background-color: #3db9ec">
                <div class="text">
                    <h3 style="color: ghostwhite;padding-top: 20px;padding-left: 25px;">Login</h3>
                    <p style="color: ghostwhite;padding-left: 25px;font-size: 18px;">Get access to your Orders, Wishlist and Recommendations</p>
                </div>
                <div class="img-responsive" style="padding-top: 186px;">
                    <img src="assets\images\applicationimage.jpg" alt="ecommerce-image">
                </div>
            </div>

            <!-- container-right -->
            <div align="center">
                <div class="div-right" style="float: right;width: 70%;height: 100%;background-color: ghostwhite;">
                    <label style="padding-top: 15px;">Enter Email/ Mobile number</label><br>
                    <input type="text" name="uname" required minlength="6" maxlength="40" style="width: 350px;"><br>
                    <label>Enter Password</label><br>
                    <input type="password" name="pwd" required minlength="6" maxlength="20" style="width: 350px;"><br><br>
                    
                    <label>
                        <p>By continuing, you agree to Shopme's Terms of Use and Privacy Policy.</p>
                    </label>
                    <div>
                        <button class="btn btn-info btn-sm">Login</button>
                        <!-- <p>OR</p>
                        <button class="btn btn-info btn-sm">Request OTP</button> -->
                    </div>
                    
                    
                        <a routerLink="/register" style="padding-top: 223px;">New to Shopme? Create an account</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>